/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Container principal */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 95vh;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Cabeçalho */
  .header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    font-weight: bold;
    color: #555;
  }

  .header .logo{
    font-size: large;
  }
  
  /* Título principal */
  .main-content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .report-title h1 {
    font-size: 2.5rem;
    color: #990000;
    text-transform: uppercase;
  }
  
  .report-title span {
    color: #000;
  }
  
  .year {
    font-size: 4rem;
    color: #555;
    margin-top: 10px;
  }
  
  /* Rodapé */
  .footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  
  .links a {
    text-decoration: none;
    color: #990000;
    font-size: 1.1rem;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: #333;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .report-title h1 {
      font-size: 2rem;
    }
    
    .year {
      font-size: 3rem;
    }
  
    .links a {
      font-size: 1rem;
      margin: 0 5px;
    }
  }